<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div *ngIf="loading">
                            <mat-progress-spinner mode="determinate" [value]="value()"></mat-progress-spinner>
                            <mat-spinner></mat-spinner>
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" [(ngModel)]="username"  id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" [(ngModel)]="userpwd"  id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <input type="submit" name="submit" (click)="onLogin()" class="btn btn-info btn-md" style="margin-left:30%;" value="submit">
                        </div>
                        <div class="form-group" *ngIf="loginFail">
                            <label style="color:red;font-size:13px;">Login failed, please check credentails</label>
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="#" class="text-info">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>